
.smt_wrap h1{text-align:center;}
.cmt_msg {
	padding: 15px; font-family: "Microsoft YaHei";
	margin:0;
}
.cmt_msg img{display: inline;}
.cmt_msg .cmt_form {
	margin-bottom: 10px;
}
.cmt_msg .face_wrap img {
	width: 50px; height: 50px;
}
.cmt_msg .input_wrap {
	width: 91%; padding-left: 10px; position: relative;
}
.cmt_msg .cmt_wrap .input_wrap {
	width: 98%;
}
.cmt_msg .input_wrap textarea {border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187); border-radius: 3px; width: 99%; height: 53px; line-height: 1.4; overflow: auto; padding-top: 8px; padding-left: 1%;
}
.cmt_msg .input_wrap p {
	background: rgb(255, 255, 255); border-width: 1px; border-style: dotted solid solid; border-color: rgb(187, 187, 187); border-radius: 0px 0px 3px 3px; width: 100%; color: rgb(206, 206, 206); line-height: 28px;
}
.cmt_msg .expression {
	background: url("../images/home/emotion2.png") no-repeat 0px 0px; margin: 6px 0px 0px 6px; width: 18px; height: 16px; display: block; cursor: pointer;
}
.cmt_msg .expression:hover {
	background: url("../images/home/emotion2.png") no-repeat 0px -16px;
}
.cmt_msg .remaining {
	padding-right: 10px; font-size: 14px;
}
.cmt_msg .smt_wrap {
	width: 100%; line-height: 30px; font-size: 12px; margin-top: 8px;
}
.cmt_msg .smt_wrap span {
	color: rgb(66, 66, 66);
}
.cmt_msg .smt_wrap .total {
	font-size: 16px; font-weight: 600;
}
.cmt_msg .smt_wrap span span {
	margin: 0px; padding: 0px;
}
.cmt_msg .smt_wrap span a {
	margin: 0px 0px 0px 8px; color: rgb(49, 139, 183);
}
.cmt_msg .smt_wrap .cmt_post {background-color: #0785D4; border: currentColor; width: 81px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; margin-left: 20px; display: inline-block; cursor: pointer;vertical-align:middle;
}
.cmt_msg .smt_wrap .cmt_text {
	background: rgb(251, 251, 251); padding: 0px 8px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); width:150px; height: 30px; line-height: 30px; margin-left: 10px;vertical-align:middle;
}
.cmt_msg .smt_wrap .cmt_verify {
	 width: 80px; height: 30px; line-height: 30px;vertical-align:middle;
}

.cmt_msg .smt_wrap input:hover {
	background-position: -1px -603px;
}
.cmt_msg .sort_wrap {
	padding-bottom: 2px; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: solid;
}
.cmt_msg .sort_wrap a:hover {
	text-decoration: none;
}
.cmt_msg .sort_wrap .current {
	color: rgb(49, 139, 183); font-weight: bold; border-bottom-color: rgb(43, 140, 230); border-bottom-width: 2px; border-bottom-style: solid;
}
.cmt_msg .cmt_item {
	padding: 15px 0px; width: 100%; color: rgb(153, 153, 153); border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: dotted; _zoom: 1;
}
.cmt_msg .item_con {
	width: 90%; padding-left: 2%;
}
.cmt_msg .item_con p {
	margin-bottom: 8px;
}
.cmt_msg .item_con a {
	color: rgb(153, 153, 153);
}
.cmt_msg .item_con a:hover {
	color: rgb(153, 153, 153); text-decoration: none;
}
.cmt_msg .item_con .name {
	color: rgb(43, 140, 230);
}
.cmt_msg .item_con .name:hover {
	color: rgb(1, 106, 159); text-decoration: none;
}
.cmt_msg .item_con .con {
	color: rgb(51, 51, 51); line-height: 20px; overflow: hidden; margin-top: 8px; -ms-word-wrap: break-word;
}
.cmt_msg .item_con .bottom li {
	height: 16px; line-height: 15px; overflow: hidden; margin-right: 10px; float: left; _display: inline;
}
.cmt_msg .item_con .bottom .reply {
	background: url("../images/home/rpy2.png") no-repeat 0px 0px; color: rgb(153, 153, 153); text-indent: 19px; font-size: 11px; display: block;
}
.cmt_msg .item_con .bottom .reply:hover {
	color: rgb(1, 106, 159); text-decoration: none;
}
.cmt_msg .item_con .bottom .bdshare_t {
	margin-top: -5px;
}
.cmt_msg .item_con .bottom .bds_more {
	padding-top: 5px;
}
.cmt_msg .inner {
	padding: 3px; border: 1px solid rgb(153, 153, 153); width: auto; background-color: rgb(254, 254, 241);
}
.cmt_msg .inner .top {
	margin: 8px 0px 8px 3px;
}
.cmt_msg .inner .con {
	margin: 5px 0px 5px 3px;
}
.cmt_msg .inner .bottom {
	margin-bottom: 5px; visibility: hidden;
}
.cmt_msg .mid_cmt_item {
	margin-top: 3px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.cmt_msg .pages {
	margin-top: 15px;
}

